
@font-face {
    font-family: Caroni-Regular;
    src: url(../../../fonts/Caroni-Regular.otf)
}

.clickable-row:hover {
    background-color: rgba(255, 255, 255, 0.25);
    filter: brightness(115%);
    cursor: pointer;
}


.confirmation-messages {
    text-align: center;
    background: #84e020b8;
    font-weight: 600;
    padding: 1px;
    margin: 6px;
    border: 2px outset #7cb24166;
}

.buttonless-button {
    background: none;
    border: none;
    padding: 0;
    color: #069;
    cursor: pointer;
    display: inline;
}

.CaroniFont {
    font-family: Caroni-Regular;
}

.header-selected {
    filter: brightness(25%);
}


/* ADD NEW BUTTON */
.plus-link {
    height: 24px;
}
.plusbutton {
    width: 24px;
    height: 24px;
    background: url(images/plusbuttontransparent.png);
    display: inline-block;
}
.plusbutton:hover {
    background: url(images/plusbutton.png);
}


/* TIMELINE (GENERAL) */
.timeline-add {
    width: 180px;
    text-align: center;
}
.timeline-table {
    font-family: 'Caroni-Regular';
    
}
.timeline-table > tbody > tr > td {
    border-top: none;
}
.timeline-table h3 {
    color: black;
    font-weight:600;
    margin-top: 5px;
    margin-bottom: 5px;
}
.timeline-table td:nth-child(1) {
    width: 24%;
    margin-top: 4px;
}



/* TIMELINE HEADER */
.timeline-head > td {
    vertical-align: bottom !important;
    background-color: #bcbded;
    font-weight: 600;
}


/* TIMELINE: PREVIOUS */
.timeline-prev {
    font-size: 18px;
    background-color: #CCCDED;
}
.timeline-prev td:nth-child(1) {
    font-size: 18px;
    color: #EBE8FF;
    background-color: #BCBDED;
}
.timeline-prev>td {
    padding: 0px !important;
    color: #808080e0;
}


/* TIMELINE: TODAY */
.timeline-today {
    font-size: 26px;
    background-color: #D9DAFF;
}
.timeline-today td:nth-child(1) {
    font-size: 26px;
    color: #EBE8FF;
    background-color: #BABCFF;
}


/* TIMELINE: FUTURE: */
.timeline-future {
    font-size: 18px;
    background-color: #CBCDFF;
}
.timeline-future td:nth-child(1) {
    font-size: 18px;
    color: #EBE8FF;
    background-color: #BABCFF;
}
.timeline-future > td {
    padding: 0px !important;
}