@model Data.Models.User
@{
    ViewBag.Title = "Home Page";
}

<h1>South Dakota Diaspora</h1>
<div style="text-align: center">

    @if (Session["UserName"] != null)
    {
        <h2 style="display: inline">Welcome, </h2><h4 style="display: inline">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName) (@Html.DisplayFor(model => model.Username))</h4>
    }
    <div>
        @if (Session["UserName"] == null)
        {
            <h3>Welcome!</h3>
            <p>Log in or create a new account to start contributing!</p>
        }
    </div>
</div>
