
@{
    ViewBag.Title = "Logout Success";
}

<h2>Logout Success</h2>
<div style="text-align: center;">
    <p>You were successfully logged out.</p>
    <br />
    @Html.ActionLink("Return Home", "Index")

</div>


